@import '../../styles/variables.scss';

.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;

  > h3 {
    font-weight: bold;
  }

  > p {
    font-size: 12px;
  }

  form {
    display: flex;

    margin: 1.5rem 0;
    input {
      height: 25px;

      border: 1px solid black;
      border-right: none;

      width: 21rem;
      min-width: 250px;

      border-bottom-left-radius: 10px;

      padding-left: 1rem;
    }

    textarea:focus,
    input:focus {
      outline: none;
    }

    > button {
      height: 25px;

      background-color: white;

      border: 1px solid black;
      border-left: none;

      border-top-right-radius: 10px;
      img {
        width: 20px;
      }
    }
  }
}
